
/* Allows the FTN Image to be centered */

.center-row {
  margin: 0 auto;
  display: block;
}
.center-text {
  text-align: center;
}

/*This is necessary because to prevent the footer from hiding elements*/

body {
  padding-bottom: 70px;
}
.form-padding {
  padding-left: 80px;
}
#centerDiv {
    width: 50%;
    /* Set the margin-left and margin-right automatically set */
    margin: 0 auto;
}
