<div class="jumbotron text-center">
    <h1>First Tennesse Financial</h1>
    <p>Learn more about our company here</p>
</div>
<div class="row">
  <div class="col-md-6">
    <div class='row top-buffer'>
      <h3 class='center-text'>About our Successs</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo tortor non dolor sollicitudin ullamcorper. In cursus a massa at volutpat. Ut sodales tristique iaculis. Vestibulum faucibus varius felis, id dignissim ipsum semper a. Donec lacinia
        sagittis efficitur. Fusce quis ultrices metus. Integer nec urna justo. Vivamus euismod nec augue sed scelerisque. Nullam dictum purus eu ex aliquam feugiat. Nunc quis neque lobortis, ultricies nibh nec, cursus magna.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo tortor non dolor sollicitudin ullamcorper. In cursus a massa at volutpat. Ut sodales tristique iaculis. Vestibulum faucibus varius felis, id dignissim ipsum semper a. Donec lacinia
        sagittis efficitur. Fusce quis ultrices metus. Integer nec urna justo. Vivamus euismod nec augue sed scelerisque. Nullam dictum purus eu ex aliquam feugiat. Nunc quis neque lobortis, ultricies nibh nec, cursus magna.
        <br> Nunc eget tellus vitae nibh iaculis blandit. Ut laoreet enim leo, vitae eleifend sem placerat vel. Vestibulum eu hendrerit dui, eget sagittis dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. In in lacus id eros vehicula commodo
        nec quis quam. Morbi et ornare felis. Nam posuere massa lorem, quis maximus lacus ornare a. In vehicula neque in lacus blandit, ac aliquam massa finibus. Maecenas pellentesque scelerisque maximus. Praesent eleifend quis turpis ultrices vulputate.
        Phasellus viverra, lectus a euismod congue, leo lacus tempus dui, ut dictum velit orci eu felis. Pellentesque dignissim purus lacus, eu congue augue interdum non.
      </p>
    </div>
  </div>
  <div class="col-md-6">
    <div class='row top-buffer'>
      <img class="center-row" src="http://www.hustlermoneyblog.com/wp-content/uploads/2012/07/First-Tennessee.gif" alt="...">
    </div>
  </div>
</div>
