<div class="container-fluid">
  <div class='row'>
    <!-- Hide this Picture and header if we are in mobile view -->
    <div class="col-md-12 hidden-xs">
      <div class="jumbotron text-center">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="" width='180' height='123' src="http://www.hustlermoneyblog.com/wp-content/uploads/2012/07/First-Tennessee.gif" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h2>First Tennesse Financial</h2>
            <p>
              Providing Security for Tommorrow
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class='row'>
        <h3 class='center-text'>First Tennessee Financial</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo tortor non dolor sollicitudin ullamcorper. In cursus a massa at volutpat. Ut sodales tristique iaculis. Vestibulum faucibus varius felis, id dignissim ipsum semper a. Donec lacinia
          sagittis efficitur. Fusce quis ultrices metus. Integer nec urna justo. Vivamus euismod nec augue sed scelerisque. Nullam dictum purus eu ex aliquam feugiat. Nunc quis neque lobortis, ultricies nibh nec, cursus magna.
        </p>
        <p> Nunc eget tellus vitae nibh iaculis blandit. Ut laoreet enim leo, vitae eleifend sem placerat vel. Vestibulum eu hendrerit dui, eget sagittis dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. In in lacus id eros vehicula commodo
          nec quis quam. Morbi et ornare felis. Nam posuere massa lorem, quis maximus lacus ornare a. In vehicula neque in lacus blandit, ac aliquam massa finibus. Maecenas pellentesque scelerisque maximus. Praesent eleifend quis turpis ultrices vulputate.
          Phasellus viverra, lectus a euismod congue, leo lacus tempus dui, ut dictum velit orci eu felis. Pellentesque dignissim purus lacus, eu congue augue interdum non.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce commodo tortor non dolor sollicitudin ullamcorper. In cursus a massa at volutpat. Ut sodales tristique iaculis. Vestibulum faucibus varius felis, id dignissim ipsum semper a. Donec lacinia
          sagittis efficitur. Fusce quis ultrices metus. Integer nec urna justo. Vivamus euismod nec augue sed scelerisque. Nullam dictum purus eu ex aliquam feugiat. Nunc quis neque lobortis, ultricies nibh nec, cursus magna.
        </p>
      </div>
    </div>
    <div class="col-md-1 form-padding">
    </div>
    <div class="col-md-5 form-padding">
      <div class='row'>
        <h4>Download the Whitepaper: </h4>
        <form name="userForm" ng-submit="submitForm()" novalidate>

          <!-- NAME -->
          <div class="form-group" ng-class="{ 'has-error' : (userForm.firstname.$invalid && userForm.firstname.$touched) }">
            <label>First Name</label>
            <input type="text" name="firstname" class="form-control" ng-model="user.firstname" required>
            <p ng-show="(userForm.firstname.$invalid && userForm.firstname.$touched) " class="help-block">Your first name is required.</p>
          </div>

          <!-- USERNAME -->
          <div class="form-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && userForm.lastname.$touched }">
            <label>Last Name</label>
            <input type="text" name="lastname" class="form-control" ng-model="user.lastname" required>
            <p ng-show="userForm.lastname.$invalid && userForm.lastname.$touched" class="help-block">Your last name is required.</p>
          </div>

          <!-- EMAIL -->
          <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$touched }">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email" required>
            <p ng-show="userForm.email.$invalid && userForm.email.$touched" class="help-block">Enter a valid email.</p>
          </div>

          <!-- COMPANY -->
          <div class="form-group" ng-class="{ 'has-error' : userForm.company.$invalid && userForm.company.$touched }">
            <label>Company</label>
            <input type="text" name="company" class="form-control" ng-model="user.company" required>
            <p ng-show="userForm.company.$invalid && userForm.company.$touched" class="help-block">Your company name is required.</p>
          </div>

          <!-- PHONE -->
          <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && userForm.phone.$touched }">
            <label>Phone Number</label>
            <input type="text" name="phone" class="form-control" ng-model="user.phone" ng-pattern="/^[(]{0,1}[0-9]{3}[)\.\- ]{0,1}[0-9]{3}[\.\- ]{0,1}[0-9]{4}$/" ng-model-options="{ updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }" required>
            <p ng-show="userForm.phone.$invalid && userForm.phone.$touched" class="help-block">Invalid Phone Number. Format should be XXX-XXX-XXXX</p>
          </div>

          <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

        </form>
      </div>


    </div>

  </div>
</div>
